head {
    color: red;
 }

body {
   color: rgb(0, 0, 0);
   font-family: sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
   font-size: 16px;
}

.modal_backdrop {
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4);
   -webkit-animation: appear 0.5s;
   animation: appear 0.5s;

}

.modal_content {
   background-color: #fefefe;
   width: 80%;
   max-width: 550px;
   margin: auto;
   padding: 20px;
   border: 2px solid #333;

}

.chart_container {
   position: relative; 
   width: auto;
   height: auto;
   border-top: 2px solid #cfcfcf;
   margin-top: 20px;
}

.close_button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_button:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.stats_grid {
   display: grid;
   grid-template-columns: auto auto auto auto;
}

.stats_number {
   font-weight: bold;
   margin-bottom: 8px;
}

.product_info {
   margin-bottom: 8px;
}

#input_guess {
   padding: 10px;
   border-radius: 8px;
   min-height: 18px;
   margin-right: 4px;
   font-size: 16px;
}

.button {
   min-height: 18px;
   color: white;
   padding: 10px;
   border-radius: 8px;
   border-width: 2px;
   border-color: black;
   background-color: #E40613;
   transition-duration: 0.4s;
   cursor: pointer;
   margin-bottom: 8px;
   font-size: 16px;
}

.button:hover {
   background-color: #a80712;
}

.button:disabled {
   background-color:#e4e4e4;
   color:#b8b8b8;
}

.guess_grid {
   display: grid;
   grid-template-columns: auto 50px;
   gap: 2px;
   max-width: 200px;
   margin: auto;
}

.guess_grid.solution {
   grid-template-columns: 200px;
}

.guess_grid > div {
   margin-top: 2px;
   padding: 3px;
   border-radius: 3px;
   position: relative;
   -webkit-animation: appear 0.5s;
   animation: appear 0.5s;
}

.guess {
   background-color: #e7e7e7;
}

.direction {
   background-color: #E40613;
}

.direction.close{
   background-color: #e49e06;
}

.direction.almost{
   background-color: #96e406;
}

.direction.correct {
   background-color: #00963F;
}

#snackbar {
   visibility: hidden;
   min-width: 400px;
   margin-left: -200px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 15px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   left: 50%;
   bottom: 30px;
   font-size: 16px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes appear {
   from {opacity: 0;}
   to {opacity: 1;}
}

@keyframes appear {
   from {opacity: 0;}
   to {opacity: 1;}
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}