head {
    color: red;
 }
 
body {
   color: black;
   font-family: sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
            }

.button {
   color: black;
   padding: 15px;
   border-radius: 10px;
   border-width: 0px;
   background-color: rgb(204, 204, 204);
   transition-duration: 0.4s;
   cursor: pointer;
}

.button:hover {
   background-color: rgb(16, 78, 0);
   color: white;
}