head {
    color: red;
 }
 
body {
   color: black;
   font-family: sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
}

#input_guess {
   padding: 10px;
   border-radius: 8px;
   min-height: 18px;
   margin-right: 4px;
}

.button {
   min-height: 18px;
   color: white;
   padding: 10px;
   border-radius: 8px;
   border-width: 2px;
   border-color: black;
   background-color: #E40613;
   transition-duration: 0.4s;
   cursor: pointer;
   margin-bottom: 8px;
}

.button:hover {
   background-color: #00963F;
   color: white;
}

.button:disabled {
   background-color:#e4e4e4;
   color:#b8b8b8;
}

.guess {
   max-width: 180px;
   margin-left: -90px;
   margin-top: 4px;
   left: 50%;
   padding: 3px;
   border-radius: 10px;
   position: relative;
   background-color: #5c5c5c;
   color: #fff;
   -webkit-animation: appear 0.5s;
   animation: appear 0.5s;
}

.product_info {
   margin-bottom: 8px;
}



#snackbar {
   visibility: hidden;
   min-width: 250px;
   margin-left: -125px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 15px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   left: 50%;
   bottom: 30px;
   font-size: 16px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes appear {
   from {opacity: 0;}
   to {opacity: 1;}
}

@keyframes appear {
   from {opacity: 0;}
   to {opacity: 1;}
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}