head {
    color: red;
 }
 
 p {
   margin-top: 5px;
   margin-bottom: 10px;
 }

body {
   color: rgb(0, 0, 0);
   font-family: sans-serif;
   text-align: center;
   align-items: center;
   margin: 0;
   padding: 0;
   font-size: 16px;
}

.modal_backdrop {
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4);
   -webkit-animation: appear 0.5s;
   animation: appear 0.5s;

}

.modal_content {
   background-color: #fefefe;
   width: 80%;
   max-width: 550px;
   margin: auto;
   padding: 20px;
   border: 2px solid #333;
}

#tutorial_examples {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   width: 324px;

}

.chart_container {
   position: relative; 
   width: auto;
   height: auto;
   border-top: 2px solid #cfcfcf;
   margin-top: 20px;
}

.close_button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_button:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.stats_grid {
   display: grid;
   grid-template-columns: auto auto auto auto;
}

.stats_number {
   font-weight: bold;
   margin-bottom: 8px;
}

/* .button {
   width: 109px;
   margin-left: 2px;
   color: white;
   background-color: #E40613;
   border-width: 2px;
   border-color: #000;
   cursor: pointer;
   border-radius: 3px;
   font-size: 16px;
   padding-top: 8px;
   padding-bottom: 8px;
} */

#game_container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#product_card {
   display: flex;
   background-color: #E40613;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 12px;
   margin-bottom: 12px;
   border-radius: 5px;
   box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.8);

}

#image_container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: 300px;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   margin-bottom: 10px;

}

#product_image {
   height: 100%;
}

.product_info {
   width: 300px;
   color: white;
   font-weight: bold;
   margin-bottom: 8px;
   text-shadow: 1px 1px 3px #000;
}

.guess_section{
   display: flex;
   flex-direction: column;
   width: 324px;
   justify-content: center;
}

#input_container {
   margin-bottom: 10px;
   height: 40px;
}

#text_input_container {
   font-size: 16px;
   height: 100%;
   display: flex;
   flex: 1;
   justify-content: center; 
   border-radius: 5px;
   align-items: center;

}

#input_guess {
   padding-left: 6px;
   border-radius: 5px;
   font-size: 16px;
   width: 100%;
   height: 100%;
   border: none;
   color: #000;
   background-color: #e0e0e0;
}


#submit_button {
   font-size: 16px;
   color: white;
   overflow: hidden;
   width: 100%;
   height: 100%;
   border: none;
   background-color: #E40613;
}

#submit_button:hover {
   cursor: pointer;
   background-color: #a80712;
}

#submit_button:disabled {
   background-color:#e4e4e4;
   color:#b8b8b8;
}

#submit_button:disabled {
   background-color:#e4e4e4;
   color:#b8b8b8;
}

.guess_container {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 30px;
   width: 100%;
   margin-top: 3px;
   -webkit-animation: appear 0.5s;
   animation: appear 0.5s;
}

.guess { 
   display: flex;
   font-size: 16px;
   height: 100%;
   justify-content: center;
   align-items: center;
   flex: 1;
   border-radius: 4px;
   background-color: #e7e7e7; 
}

#submit_container {
   font-size: 16px;

   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;

   height: 40px;
   width: 20%;  
   border-radius: 4px;
   margin-left: 5px;
   background-color: #E40613;
}

.direction {
  
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 20%;  
   border-radius: 4px;
   margin-left: 5px;
   background-color: #E40613;
}

#submit_container:hover {
   background-color: #a80712;
}

.direction.close{
   background-color: #e49e06;
}

.direction.almost{
   background-color: #96e406;
}

.direction.correct {
   background-color: #00963F;
}

#snackbar {
   visibility: hidden;
   min-width: 400px;
   margin-left: -200px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 15px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   left: 50%;
   bottom: 30px;
   font-size: 16px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes appear {
   from {opacity: 0;}
   to {opacity: 1;}
}

@keyframes appear {
   from {opacity: 0;}
   to {opacity: 1;}
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


@media screen and (max-height: 900px) {
   #image_container {
      width: 275px;
      height: 275px;
   }
   .guess_section {
      width: 299px;
   }
   .product_info {
      width: 275px;
   }
}

@media screen and (max-height: 850px) {
   #image_container {
      width: 250px;
      height: 250px;
   }
   .guess_section {
      width: 274px;
   }
   .product_info {
      width: 250px;
   }
}


@media screen and (max-height: 825px) {

   #image_container {
      width: 225px;
      height: 225px;
   }
   .guess_section {
      width: 249px;
   }
   .product_info {
      width: 225px;
   }
}

@media screen and (max-height: 785px) {

}

@media screen and (max-height: 760px) {

}

@media screen and (max-height: 725px) {

}

@media screen and (max-height: 700px) {

}

@media screen and (max-height: 675px) {

  }
}