.modal_backdrop {
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4);
   -webkit-animation: appear 0.5s;
   animation: appear 0.5s;

}

.modal_content {
   background-color: #fefefe;
   overflow: auto;
   width: 80%;
   max-width: 550px;
   max-height: 70%;
   margin: auto;
   padding: 20px;
   border: 2px solid #333;
}

#tutorial_examples {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   width: 324px;
}

.chart_container {
   position: relative; 
   width: auto;
   height: auto;
   border-top: 2px solid #cfcfcf;
   margin-top: 20px;
}

.close_button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_button:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.stats_grid {
   display: grid;
   grid-template-columns: auto auto auto auto;
}

.stats_number {
   font-weight: bold;
   margin-bottom: 8px;
}
